wandb
images
errors.txt
outfile.txt

data_init/*
!data_init/.gitkeep

data_rollout/*
!data_rollout/.gitkeep

outputs_init/*
!outputs_init/.gitkeep

outputs_rollout/*
!outputs_rollout/.gitkeep

lightning_logs/*
__pycache__/
*.pyc